$sidebar-width: 15em;
$header-height: 4.5em;

/*misc colours*/
$white: #ffffff;
$light: #fafafa;
$dark: #1C1917;
$black: #000000;
$primary: #DE461B;
$secondary: #507fcf;
$info: #AF65A5;
$tertiary: #271E43;
$success: #28a745;
$warning: #DE461B;
$danger: #CD113B;
$background: #E5E5E5;
$disabled-bg: #2c389180;
$form-label: #333333;
$form-field: #F7F7F7;
$notify-bg: #FEF8F8;
$input-border: #C0C0C0;
$settings-border: #DEDEDE;
$settings-text-warn: #BB0303;
$settings-success: #145105;

/*Primary colors*/
$primary-brand: $primary;
$primary-bg: $primary;
$primary-text: lighten($primary, 15%);
$primary-hover: lighten($primary, 15%);
$primary-active: lighten($primary, 15%);
$primary-transparent: rgba(222, 70, 27, 0.13);

/*Secondary colors*/
$secondary-brand: $secondary;
$secondary-bg: $secondary;
$secondary-text: lighten($secondary, 15%);
$secondary-hover: lighten($secondary, 15%);
$secondary-active: lighten($secondary, 15%);
$secondary-transparent: rgba(251, 146, 60, 0.13);

/*Info colors*/
$info-brand: $info;
$info-bg: $info;
$info-text: lighten($info, 15%);
$info-hover: lighten($info, 15%);
$info-active: lighten($info, 15%);
$info-transparent: rgba(175, 101, 165, 0.13);

/*Tertiary colors*/
$info-brand: $tertiary;
$info-bg: $tertiary;
$info-text: lighten($tertiary, 15%);
$info-hover: lighten($tertiary, 15%);
$info-active: lighten($tertiary, 15%);
$info-transparent: rgba(39, 30, 67, 0.13);


/*Success colors*/
$success-brand: $success;
$success-bg: $success;
$success-text: lighten($success, 15%);
$success-hover: lighten($success, 15%);
$success-active: lighten($success, 15%);
$success-transparent: rgba(25, 177, 89, 0.13);


/*Danger colors*/
$danger-brand: $danger;
$danger-bg: $danger;
$danger-text: lighten($danger, 15%);
$danger-hover: lighten($danger, 15%);
$danger-active: lighten($danger, 15%);
$danger-transparent: rgba(253, 96, 116, 0.13);

/*gray variables*/
$gray-100: #eaeafb;
$gray-200: #d0d0ec;
$gray-300: #babade;
$gray-400: #8f8fb7;
$gray-500: #717196;
$gray-600: #4f4f71;
$gray-700: #3c3c5d;
$gray-800: #262644;
$gray-900: #1b1b33;

/*white variables*/
$white-1: rgba(255, 255, 255, 0.1);
$white-2: rgba(255, 255, 255, 0.2);
$white-3: rgba(255, 255, 255, 0.3);
$white-4: rgba(255, 255, 255, 0.4);
$white-5: rgba(255, 255, 255, 0.5);
$white-6: rgba(255, 255, 255, 0.6);
$white-7: rgba(255, 255, 255, 0.7);
$white-8: rgba(255, 255, 255, 0.8);
$white-9: rgba(255, 255, 255, 0.9);
$white-05: rgba(255, 255, 255, 0.05);
$white-08: rgba(255, 255, 255, 0.08);
$white-75: rgba(255, 255, 255, 0.075);

/*black variables*/
$black-1: rgba(0, 0, 0, 0.1);
$black-2: rgba(0, 0, 0, 0.2);
$black-3: rgba(0, 0, 0, 0.3);
$black-4: rgba(0, 0, 0, 0.4);
$black-5: rgba(0, 0, 0, 0.5);
$black-6: rgba(0, 0, 0, 0.6);
$black-7: rgba(0, 0, 0, 0.7);
$black-8: rgba(0, 0, 0, 0.8);
$black-9: rgba(0, 0, 0, 0.9);
$black-05: rgba(0, 0, 0, 0.05);

/*Dark Theme*/
$dark-theme: var(--dark-theme);
$dark-body: var(--dark-body);
$dark-color: var(--dark-color);
$dark-border: var(--dark-border);
