@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";


@import "bootstrap/background";
@import "layouts/buttons";

@import "layouts/main";
@import "layouts/mobile";
@import "layouts/footer";
@import "layouts/nav";
@import "layouts/buttons";
@import "layouts/inner-menu";
@import "layouts/custom-styles";

